<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- [css'] -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/style.css"/>
    <!-- [/css'] -->
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<a class="btn btn-primary">test</a>

<!-- [scripts] -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/client.js"></script>
<!-- [/scripts] -->
</body>
</html>