<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- [css'] -->
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <!-- [/css'] -->
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<!-- [scripts] -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>
<!-- [/scripts] -->
</body>
</html>